.app {
  /* text-align: center; */
  /* background-color: #282c34; */
  background-image: url("./assets/Background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(98vh - 180px);
  color: white;
  padding: 100px;
}

.app__header {
  font-size: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app__description {
  margin: 0 auto;
  font-size: 20px;
}

.app__projects {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.app__project {
  display: flex;
  border: 1px red, solid;
}

.app__project-title {
  margin: auto;
  font-size: 28px;
  width: 10%;
}

.app__project-group {
  border-left: red 1px solid;
  width: 90%
  /* flex-grow: 2; */
}

.app__project-description {
  margin: 10px 5px;
  font-size: 20px;
}

.app__features {
  padding: 0;
  list-style-type: none;
}

.app__feature-title {
  padding: 0;
  margin: 0;
}

.app__feature {
  padding-left: 40px;
}

.app__links {
  /* padding: 15px; */
  display: flex;
  justify-content: center;
  gap: 20px;
}

.app__link {
  color: #61dafb;
}

.App-link {
  color: #61dafb;
}
